@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

.ngx-pagination .current {
    background: #f83843 !important;
}

.snackbar {
    background: #f83843;
    font-weight: bold;
    text-transform: capitalize;
}
